@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

@layer base {
    body {
        color: rgb(var(--foreground-rgb));
        background: linear-gradient(to bottom right,
                rgba(240, 253, 244, 0.5),
                rgb(255, 255, 255));
        min-height: 100vh;
    }
}

.dark body {
    background: linear-gradient(to bottom right,
            rgba(20, 83, 45, 0.2),
            rgb(5, 46, 22));
    color: #e5e7eb;
}